
.stream{
    width: 271px;
    height: 64px;
    border-radius: 10px;
    background: rgb(213, 13, 31);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 500;
    line-height: 141.52%;
    letter-spacing: 0%;
    box-sizing: border-box;
    display: flex;
align-items: center;
justify-content: center;
gap: 10px;
text-align: center;
}