*{
  box-sizing: border-box;
}
body{
  
  background-image: url("/assets/background.png");
 
background-position: top center;
background-size: cover;
background-repeat: no-repeat;
background-color: black;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}
